*{
    margin: 0;
    padding: 0;
}

                                                /* Total Container Design */
.total-container{
    width: 100%;
    padding: 10px;
    border: 5px solid;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 1em;
}

                                                /* Inner Container Design */
.inner-container{
    height: fit-content;
    width:100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
}

                                                /* Image and Title Design */
.image-title{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.image-title>img{
    height:150px;
    width: 150px;
    object-fit: contain;
}

.image-title>h1{
    font-size: 1.5em;
    font-weight: bold;
}

                                                /* Button Group Design */
.btn-group{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

                                            /* Item Price and Remove Button Design */
.item-price-remove{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.item-price-remove>span{
    border: 2px solid orangered;
    padding: 5px;
    background: rgb(196, 231, 245);
}

                                            /* Total Price Design */
.total-price{
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
}

/* Media Screen Settings */
@media screen and (max-width:600px) {
    .image-title>img{
        height:120px;
        width: 120px;
        object-fit: contain;
    }
    .inner-container{
        flex-direction: column;
    }
    .item-price-remove{
        flex-direction: row;
    }
    .image-title{
        width: auto;
    }
    .image-title>h1{
        font-size: 1.3em;
    }
    .btn-group>button{
        padding: 5px;
    }
    .inner-container{
        padding: 10px;
        border: 5px solid;
        border-radius: 20px;
    }
    .total-container{
        gap:10px;
    }
}